/* general */
:root {
    --background-color: #292929;
    --text-color: white;
    --border-color: #5c367a;
    --accent-text-color: #AA7ECD;
    --accent-background-color: #945DC0;

    --content-width: 50vw;
    --h1-border-width: 2rem;
    --h2-border-width: 1rem;
}

body {
    margin: 0;
    min-height: 100vh;

    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    text-transform: lowercase;
    color: var(--text-color);

    background-color: var(--background-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: var(--accent-text-color);
    transition: all 0.2s ease-in-out;
}

a:hover {
    --shadow-distance: 0.5rem;
    color: var(--text-color);
    background-color: var(--accent-background-color);
    box-shadow: var(--shadow-distance) var(--shadow-distance) var(--border-color);
    transition: all 0.2s ease-in-out;
}

a:active {
    --shadow-distance: 0;
    color: var(--text-color);
    background-color: var(--border-color);
    box-shadow: var(--shadow-distance) var(--shadow-distance) transparent;
    transition: all 0.15s ease-in-out;
}

.accent-text {
    color: var(--accent-text-color);
}

/* header */
header {
    margin: 2rem 0;
    position: relative;

    display: inline-block;
}

.header-text {
    background-color: var(--accent-background-color);

    text-align: center;
    font-size: 8rem;
    white-space: nowrap;

    margin: 0 auto;
    padding: 2rem 8rem;
    width: min-content;
    height: 100%;

    border-bottom: var(--border-color) solid var(--h1-border-width);
}

.header-bg {
    background-color: var(--accent-background-color);

    position: absolute;
    top: 0;
    left: 0;

    height: calc(100% - var(--h1-border-width));
    width: 50%;
    z-index: -1;

    border-bottom: var(--border-color) solid var(--h1-border-width);
}

/* footer */
footer {
    padding: 4rem 0;
}

footer > p {
    text-align: center;
    margin: 0 auto;
    width: var(--content-width);
}

/* main content */
main {
    flex-grow: 1;
    width: var(--content-width);
    margin: 0 auto;
}

.section-header {
    font-size: 4rem;
    background: var(--accent-background-color);
    padding: 1rem 4rem;
    border-bottom: var(--border-color) solid var(--h2-border-width);
    white-space: nowrap;
    width: min-content;
}