/* css vars */
:root {
    --col-1-25: #36266144;
    --col-2-25: #FA5E9144;
    --col-3-25: #7FAfEE44;
    --col-4-25: #CAC4CE44;
    --col-5-25: #F6EDFF44;

    --col-1-50: #36266188;
    --col-2-50: #FA5E9188;
    --col-3-50: #7FAfEE88;
    --col-4-50: #CAC4CE88;
    --col-5-50: #F6EDFF88;

    --col-1-75: #362661CC;
    --col-2-75: #FA5E91CC;
    --col-3-75: #7FAfEECC;
    --col-4-75: #CAC4CECC;
    --col-5-75: #F6EDFFCC;

    --col-1-100: #362661;
    --col-2-100: #FA5E91;
    --col-3-100: #7FAfEE;
    --col-4-100: #CAC4CE;
    --col-5-100: #F6EDFF;

    --primary-color: var(--col-2-100);
    --primary-color-50: var(--col-2-50);
    --secondary-color: var(--col-3-100);

    --background-color: var(--col-1-100);
    --background-secondary-color: var(--col-3-25);

    --text-color: var(--col-5-100);
    --text-secondary-color: var(--col-4-100);

    --shadow-color: #888888;
    --highlight-color: #333;
}

/* general styling */
body {
    font-family: 'Quicksand', sans-serif;
    color: var(--text-color);
    margin: 0;
    background-color: var(--background-color);
    min-width: min-content;
    text-transform: lowercase;
}

a {
    color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 0.1rem 0.2rem;
    box-shadow: 0 0 transparent;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: var(--text-color);
    background-color: var(--primary-color);
    box-shadow: 0.3rem 0.3rem var(--shadow-color);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

a:active {
    color: var(--text-color);
    background-color: var(--secondary-color);
    box-shadow: 0.1rem 0.1rem var(--shadow-color);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

img, video {
    border-radius: 1rem;
}

p, li {
    font-size: 1.25rem;
}

li {
    margin: 0.15rem 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1.5rem 0 1.5rem 0;
}

hr {
    border: 0.15rem solid;
    border-radius: 1rem;
    color: var(--secondary-color);
    margin: 0;
}

.hidden {
    visibility: hidden !important;
    display: none !important;
}

.highlight {
    border-radius: 0.5rem;
    padding: 0.1rem 0.2rem;
    margin: 0.1rem 0;
    background-color: var(--highlight-color);
    display: inline-block;
}

.image-showcase-container {
    background-color: var(--primary-color);
    border-radius: 1rem;
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#showcase-display-gamedev > :last-child {
    margin-bottom: 0;
}

.image-showcase-text-container {
    background-color: var(--background-color);
    border: 0.5rem solid var(--secondary-color);
    border-radius: 1rem;
    padding: 1rem;
    margin-left: 1rem;
    width: 100%;
}

.image-showcase-text-container > :first-child {
    margin-top: 0;
}

.image-showcase-text-container > :last-child {
    margin-bottom: 0;
}

.image-showcase-container a {
    color: transparent;
    border-radius: 0;
    padding: 0;
    box-shadow: 0 0 transparent;
}

.image-showcase-container a:hover {
    color: transparent;
    background-color: transparent;
    box-shadow: none;
    text-decoration: none;
}

.image-showcase-container a:active {
    color: transparent;
    background-color: transparent;
    box-shadow: none;
    text-decoration: none;
}

.image-showcase-container img {
    border: 0.5rem solid var(--secondary-color);
    border-radius: 1rem;
    box-shadow: 0 0 transparent;
    max-height: 25rem;
    max-width: 25rem;
    transition: all 0.2s ease-in-out;
}

.image-showcase-container img:hover {
    box-shadow: 0.5rem 0.5rem var(--shadow-color);
    transition: all 0.2s ease-in-out;
}

.image-showcase-container img:active {
    box-shadow: 0.1rem 0.1rem var(--shadow-color);
    transition: all 0.2s ease-in-out;
}

.art-showcase {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.art-showcase img, .art-showcase video {
    --img-gap: 0.25rem;
    --img-row-count: 3;
    max-width: calc(calc(100% / var(--img-row-count)) - (var(--img-gap) * var(--img-row-count)));
    max-height: calc(calc(100% / var(--img-row-count)) - (var(--img-gap) * var(--img-row-count)));
    min-width: calc(calc(100% / var(--img-row-count)) - (var(--img-gap) * var(--img-row-count)));
    min-height: calc(calc(100% / var(--img-row-count)) - (var(--img-gap) * var(--img-row-count)));
    image-rendering: high-quality;
    margin: var(--img-gap);
}

#page-container {
    width: 60vw;
    min-width: 50rem;
    min-height: 90vh;
    margin: 0 auto 0 auto;
}

#no-js, .error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 30vw;
    height: 70vh;
    text-align: center;
}

#no-js h1, .error-page h1 {
    font-size: 6rem;
    color: var(--primary-color);
}

#no-js h2, .error-page h2 {
    font-size: 2.5rem;
    color: var(--secondary-color);
}

#no-js p, .error-page p {
    font-size: 1.5rem;
    color: var(--text-color);
}

/* header styling */
header {
    font-family: 'Dosis', sans-serif;
    margin: 2rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header * {
    margin: 0;
}

header h1 {
    font-size: 4rem;
    color: var(--primary-color);
    width: min-content;
    white-space: nowrap;
}

header h2 {
    font-size: 2rem;
    color: var(--secondary-color);
    width: min-content;
    white-space: nowrap;
}

/* main content styling */
main {
    flex-grow: 1;
}

main h3 {
    font-size: 2rem;
    color: var(--secondary-color);
}

.showcase-display {
    background-color: var(--background-secondary-color);
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

.showcase-display-tab-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 1rem 0 1rem;
}

.showcase-display-tab-buttons-container button {
    font-family: 'Quicksand', sans-serif;
    color: var(--text-color);
    font-size: 1.75rem;
    border: none;
    border-radius: 1rem 1rem 0 0;
    background-color: var(--primary-color-50);
    transition: background-color 0.2s;
    margin: 0 0.2rem 0 0.2rem;
    padding: 0.5rem;
    text-transform: lowercase;
}

.showcase-display-tab-buttons-container button:hover, .showcase-display-tab-button-active {
    background-color: var(--primary-color) !important;
    transition: background-color 0.2s;
}

.showcase-display-tab-buttons-container button:hover {
    cursor: pointer;
}

.showcase-display hr {
    margin: 0;
}

#showcase-display-content-container h4 {
    font-size: 2rem;
    color: var(--secondary-color);
}

.overview-skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.overview-skills-list-container {
    margin: 0 1rem;
}

.overview-skills-list-container ul {
    margin: 0;
    padding: 0;
}

.overview-skills-list-container li {
    list-style: none;
    margin: 0;
    font-size: 1.25rem;
}

.overview-skills-list-container h5 {
    color: var(--secondary-color);
    font-size: 2rem;
    margin: 0;
    white-space: nowrap;
}

/* footer styling */
footer {
    width: 35vw;
    min-width: min-content;
    margin: 5rem auto 1rem auto;
    color: var(--text-secondary-color);
}

footer p {
    width: min-content;
    margin: 0 auto 0 auto;
    white-space: nowrap;
}