<footer>
    <p>
        &#169; Dan Coady 2020-2021 // Source code available
        <a href="https://github.com/pondodev/pondodotdev" target="_blank">here</a>
    </p>
    <p class="socials">
        <a class="fas fa-envelope" href="index.html#contactme"></a>
        <a class="fab fa-gitlab" href="https://gitlab.com/pondodev" target="_blank"></a>
        <a class="fab fa-github" href="https://github.com/pondodev" target="_blank"></a>
        <a class="fab fa-itch-io" href="https://pondodev.itch.io" target="_blank"></a>
        <a class="fab fa-twitter" href="https://twitter.com/fakemuso" target="_blank"></a>
        <a class="fab fa-linkedin" href="https://www.linkedin.com/in/daniel-coady-74198514a/" target="_blank"></a>
    </p>
</footer>