<meta charset="UTF-8" />
<meta name="description" content="dan coady. full stack/game dev and 3D artist" />
<meta name="keywords" content="dan coady, portfolio, game dev portfolio, developer portfolio, programming portfolio, 3D artist portfolio, web developer portfolio, full stack developer portflio" />
<meta name="author" content="Dan Coady" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>dan coady. developer, 3d artist.</title>

<!-- fonts -->
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet" />
<link href="{{ "fontawesome5/css/all.css" | relURL }}" rel="stylesheet" />

<!-- our styles -->
<link href="{{ "css/main.css" | relURL }}" type="text/css" rel="stylesheet" />

<!-- responsive design -->
<link href="{{ "css/responsive-main.css" | relURL }}" type="text/css" rel="stylesheet" />