@media screen and (max-width: 1600px) {
    :root {
        --content-width: 80vw;
    }
}

@media screen and (max-width: 950px) {
    :root {
        --content-width: 80vw;
    }

    /* header */
    header {
        margin-top: 0;
    }

    .header-text {
        padding: 2rem 0;
        width: 100vw;
    }

    .header-bg {
        display: none;
    }

    /* nav bar */
    nav {
        font-size: 3rem;
        margin: 0;
        width: 100%;
        background-color: var(--accent-background-color);
    }

    nav ul {
        margin: 0 auto;
    }

    .buttons-vert-container > * {
        margin: 2rem 0;
    }
}

@media screen and (max-width: 790px) {
    nav {
        font-size: 2rem;
        margin: 0;
        width: 100%;
        background-color: var(--accent-background-color);
    }

    nav ul {
        margin: 0 auto;
    }
}

@media screen and (max-width: 640px) {
    :root {
        font-size: 50%;
        --content-width: calc(100vw - 2rem);
        --brackets-width: 0.75rem;
    }

    /* header */
    header {
        margin-top: 0;
    }

    .header-text {
        padding: 2rem 0;
        font-size: 6rem;
        margin: 0;
        width: 100vw;
    }

    .header-bg {
        display: none;
    }

    /* nav bar */
    nav {
        font-size: 2.5rem;
        margin: 0;
        width: 100%;
        background-color: var(--accent-background-color);
    }

    nav ul {
        margin: 0 auto;
    }

    nav a {
        padding: 1rem 2rem;
        padding-bottom: 0.5rem;
    }

    /* main content */
    .section-header {
        padding: 0;
        border: none;
        border-bottom: var(--accent-background-color) solid var(--brackets-width);
        transform: none;
    }

    .accented-content {
        padding: 0;
        transform: none;
        border: var(--background--accent-color) solid var(--brackets-width);
    }

    .accented-content:before, .accented-content:after {
        display: none;
    }
}