.skills-container {
    display: flex;
    flex-direction: row;
}

.skills-container > * {
    margin: 0 2rem;
}

.skills-container > *:first-child {
    margin-left: 0;
}

.skills-container > *:last-child {
    margin-right: 0;
}

input, textarea {
    font-family: inherit;
    font-size: 100%;
    border: none;
    padding: 0.5rem;
    text-transform: inherit;
}

input[type=submit] {
    color: var(--text-color);
    background-color: var(--accent-background-color);
    padding: 1rem 2rem;
    transition: all 0.2s ease-in-out;
}

input[type=submit]:hover {
    --shadow-distance: 0.5rem;
    color: var(--text-color);
    background-color: var(--accent-background-color);
    box-shadow: var(--shadow-distance) var(--shadow-distance) var(--border-color);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

input:required, textarea:required {
    box-shadow: none;
}

label {
    font-weight: bold;
}

.required:after {
    content: " *";
    color: #e34d4d;
}

.responsive-form {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 2rem;
}

.responsive-form > * {
    margin: 0 1rem;
}

.responsive-form > *:first-child {
    margin-left: 0;
}

.responsive-form > *:last-child {
    margin-right: 0;
}

.responsive-form-column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.responsive-form-column > * {
    margin: 0.5rem 0;
}

.responsive-form-column > *:nth-child(even) {
    margin-top: 0;
}

.responsive-form-column > *:first-child {
    margin-top: 0;
}

.responsive-form-column > *:last-child {
    margin-bottom: 0;
}

.responsive-form-column input:focus,
.responsive-form-column textarea:focus {
    --outline-width: 0.25rem;
    outline: var(--outline-width) var(--accent-text-color) solid;
    outline-offset: var(--outline-width);
    transition: all 0.1s ease-in-out;
}

.responsive-form-message-field {
    box-sizing: border-box;
    width: 100%;
    flex-grow: 1;
    resize: none;
    min-height: 15rem;
}