/* general */
:root {
    font-size: 75%;

    --content-width: 50vw;
    --border-width: 2rem;
    --brackets-width: 1rem;

    /* fallback colours */
    --background-color: #292929;
    --text-color: white;
    --border-color: #5c367a;
    --accent-text-color: #AA7ECD;
    --accent-background-color: #945DC0;
}

body {
    margin: 0;
    min-height: 100vh;

    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    text-transform: lowercase;
    color: var(--text-color);

    background-color: var(--background-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: var(--accent-text-color);
    padding: 0.2rem;
    transition: all 0.2s ease-in-out;
}

a:hover {
    --shadow-distance: 0.5rem;
    color: var(--text-color);
    background-color: var(--accent-background-color);
    box-shadow: var(--shadow-distance) var(--shadow-distance) var(--border-color);
    transition: all 0.2s ease-in-out;
}

a:active {
    --shadow-distance: 0;
    color: var(--text-color);
    background-color: var(--border-color);
    box-shadow: var(--shadow-distance) var(--shadow-distance) transparent;
    transition: all 0.15s ease-in-out;
}

ul li {
    list-style-type: none;
}

ul {
    padding: 0;
}

.accent-text {
    color: var(--accent-text-color);
}

/* header */
header {
    margin: 2rem 0;
    position: relative;

    display: inline-block;
}

.header-text {
    background-color: var(--accent-background-color);

    text-align: center;
    font-size: 8rem;
    white-space: nowrap;

    margin: 0 auto;
    padding: 2rem 8rem;
    width: min-content;
    height: 100%;

    border-bottom: var(--border-color) solid var(--border-width);
}

.header-bg {
    background-color: var(--accent-background-color);

    position: absolute;
    top: 0;
    left: 0;

    height: calc(100% - var(--border-width));
    width: 50%;
    z-index: -1;

    border-bottom: var(--border-color) solid var(--border-width);
}

/* footer */
footer {
    padding: 4rem 0;
}

footer > p {
    text-align: center;
    margin: 0 auto;
    width: var(--content-width);
}

/* nav bar */
nav {
    font-size: 4rem;
    margin: 0 auto;
    width: max-content;
}

nav ul {
    width: max-content;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--accent-background-color);
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: var(--text-color);
    padding: 1rem 4rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    border-bottom: transparent solid 1rem;
    font-weight: bold;
}

nav a:hover:not(.current-nav-item) {
    border-bottom: var(--border-color) solid 1rem;
    box-shadow: none;
}

.current-nav-item, nav a:hover.current-nav-item {
    background-color: var(--border-color);
    box-shadow: none;
}

/* main content */
main {
    flex-grow: 1;
    width: var(--content-width);
    margin: 0 auto;
}

.section-header {
    --left-padding: calc(4rem - var(--brackets-width));

    font-size: 4rem;
    white-space: nowrap;

    border-left: var(--accent-background-color) solid var(--brackets-width);

    padding-left: var(--left-padding);
    width: min-content;
    transform: translate(calc((var(--left-padding) + var(--brackets-width)) * -1));
}

.section-subheader {
    font-size: 2rem;
    color: var(--accent-text-color);
    margin: 0;
}

.accented-content {
    --horizontal-padding: 4rem;
    padding: 2rem var(--horizontal-padding);
    margin: 2rem auto;
    position: relative;
    width: max-content;
    max-width: var(--content-width);
    transform: translate(calc(var(--horizontal-padding) * -1));
}

.accented-content:before, .accented-content:after {
    content: "";
    position: absolute;
    width: 2rem;
    top: 0;
    bottom: 0;
    border: var(--accent-background-color) solid var(--brackets-width);
}

.accented-content:before {
    border-right: none;
    left: 0;
}

.accented-content:after {
    border-left: none;
    right: 0;
}