img {
    border: var(--accent-background-color) solid var(--border-width);
    float: right;
    margin-left: 2rem;
}

.button {
    background-color: var(--accent-background-color);
    color: var(--text-color);
    font-weight: bold;
    padding: 1rem 2rem;
    display: block;
    width: max-content;
    text-decoration: none;
}