@media screen and (max-width: 450px) {
    img {
        float: none;
        width: unset;
        max-width: 80%;
        min-width: unset;
    }
}

@media screen and (max-width: 950px) {
    img {
        float: none;
        width: unset;
        max-width: 80%;
        min-width: unset;
    }
}